# yaml-language-server: $schema=https://json.schemastore.org/dependabot-2.0.json

version: 2
updates:
  # group updates for minor and patch version
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: monthly
    labels:
      - "not-testable"
      - "dependencies"
    ignore:
      - dependency-name: "*"
        # Ignore major and pre-release updates for all dependencies
        update-types: ["version-update:semver-major"]
        versions: ["alpha", "beta", "rc"]
    groups:
      minor-and-patch:
        patterns: ["*"]
        update-types: [patch, minor]
    open-pull-requests-limit: 1

  - package-ecosystem: gradle
    directory: "/backend"
    schedule:
      interval: monthly
    labels:
      - "not-testable"
      - "dependencies"
    ignore:
      - dependency-name: "*"
        # Ignore major and pre-release updates for all dependencies
        update-types: ["version-update:semver-major"]
        versions: ["alpha", "beta", "rc"]
    groups:
      minor-and-patch:
        patterns: ["*"]
        update-types: [patch, minor]
    open-pull-requests-limit: 1

  - package-ecosystem: pub
    directory: "/frontend"
    schedule:
      interval: monthly
    labels:
      - "not-testable"
      - "dependencies"
    open-pull-requests-limit: 1
    ignore:
      - dependency-name: "*"
        # Ignore major updates for all dependencies
        update-types: ["version-update:semver-major"]
    groups:
      minor-and-patch:
        patterns: ["*"]
        update-types: [patch, minor]

  - package-ecosystem: bundler
    directory: "/frontend/ios"
    schedule:
      interval: monthly
    labels:
      - "not-testable"
      - "dependencies"
    open-pull-requests-limit: 1
    ignore:
      - dependency-name: "*"
        # Ignore major updates for all dependencies
        update-types: ["version-update:semver-major"]
    groups:
      minor-and-patch:
        patterns: ["*"]
        update-types: [patch, minor]

  # Single weekly updates for other ecosystems with few dependencies including all update types
  - package-ecosystem: gradle
    directory: "/frontend/android"
    schedule:
      interval: weekly
    labels:
      - "not-testable"
      - "dependencies"
    open-pull-requests-limit: 2
    ignore:
      - dependency-name: "*"
        # Ignore pre-release updates for all dependencies
        versions: ["alpha", "beta", "rc"]

  - package-ecosystem: docker-compose
    directory: "/"
    schedule:
      interval: weekly
    labels:
      - "not-testable"
      - "dependencies"
    open-pull-requests-limit: 2
