name: ehrenamtskarte
description: App for the Bavarian Ehrenamtskarte owners.

# The following line prevents the package from being accidentally published to
# pub.dev using `pub publish`. This is preferred for private packages.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

environment:
  sdk: 3.3.1
  flutter: 3.19.3

dependencies:
  flutter:
    sdk: flutter
  device_info_plus: ^10.0.1
  flutter_localizations:
    sdk: flutter
  intl: ^0.18.0
  mutex: ^3.1.0
  maplibre_gl:
    git:
      url: https://github.com/maplibre/flutter-maplibre-gl.git
      ref: git-release-0.18.0
  provider: ^6.0.3
  graphql_flutter: ^5.1.2
  url_launcher: ^6.2.5
  flutter_svg: ^2.0.2
  permission_handler: ^11.3.0
  package_info_plus: ^4.0.1 # for about dialog
  mobile_scanner: ^4.0.1
  fixnum: ^1.1.0
  # Locking this version due to this issue https://github.com/mogol/flutter_secure_storage/issues/762
  flutter_secure_storage: 9.0.0
  infinite_scroll_pagination: ^4.0.0
  geolocator: ^11.0.0
  geolocator_android: ^4.3.1
  protobuf: ^3.1.0
  base32: ^2.1.3
  qr_flutter: ^4.0.0
  otp: ^3.1.3
  crypto: ^3.0.2
  intro_slider: ^4.2.0
  shared_preferences: ^2.0.18
  tinycolor2: ^3.0.1
  sentry_flutter: ^8.4.0
  carousel_slider: ^4.2.1
  slang: ^3.25.0
  slang_flutter: ^3.25.0

  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons: ^1.0.5
  collection: ^1.17.0
  meta: ^1.8.0
  http: ^0.13.5
  equatable: ^2.0.5
  tuple: ^2.0.1
  fk_user_agent: ^2.1.0
  # Locking GoRouter version until #1679 Update GoRouter to recent
  go_router: 13.2.1

dev_dependencies:
  build_runner: ^2.3.3
  # We can use the version from pub.dev once the following PR is merged:
  # https://github.com/pikaju/dart-protoc-builder/pull/21
  # For now, we pin the version of the mentioned PR:
  protoc_builder:
    git:
      url: https://github.com/fischerscode/dart-protoc-builder.git
      ref: fb036776680fb11ac01300915663b72d42213a4b
  protoc_plugin: ^21.1.2
  slang_build_runner: ^3.25.0
  df_build_config:
    path: ./pubs/df_build_config
  flutter_test:
    sdk: flutter
  json_serializable: ^6.3.1
  lints: ^3.0.0
  test: '>=1.0.0'
  mocktail: ^1.0.4

  # graphQL type generation
  artemis: '>=6.0.0' # only if you're using ArtemisClient!
  json_annotation: ^4.7.0
  gql: '>=0.12.3 <1.0.0'
  lint: ^2.0.1


# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  assets:
    - assets/category_icons/
    - assets/detail_headers/
    - assets/bayern/intro_slides/
    - assets/bayern/header-logo.png
    - assets/bayern/body-logo.png
    - assets/bayern/icon.png
    - assets/nuernberg/header-logo.png
    - assets/nuernberg/body-logo.png
    - assets/nuernberg/background.png
    - assets/nuernberg/intro_slides/
    - assets/nuernberg/l10n/
    - assets/koblenz/icon.png
    - assets/koblenz/header-logo.png
    - assets/koblenz/body-logo.png
    - assets/koblenz/intro_slides/
    - assets/koblenz/l10n/
    - assets/ca/

  # An image asset can refer to one or more resolution-specific 'variants', see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this 'flutter' section. Each entry in this list should have a
  # 'family' key with the font family name, and a 'fonts' key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  fonts:
    - family: TexGyreHeroes
      fonts:
        - asset: assets/koblenz/fonts/texgyreheros-regular.otf
        - asset: assets/koblenz/fonts/texgyreheros-italic.otf
          style: italic
        - asset: assets/koblenz/fonts/texgyreheros-bold.otf
          weight: 700
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
