{
  "parser": "@typescript-eslint/parser",
  "extends": ["react-app", "react-app/jest", "eslint-config-prettier"],
  "ignorePatterns": ["src/generated/**", "build/**"],
  "rules": {
    "prefer-template": "error",
    "testing-library/prefer-screen-queries": "off",
    "testing-library/no-node-access": "off"
  }
}
