# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

*.log

# dependencies
/node_modules

# testing
/coverage
/src/coverage

# production
/build

.env*.local

#eslint
tsconfig.tsbuildinfo

src/generated/

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
