{
  "plugins": [
    "@trivago/prettier-plugin-sort-imports"
  ],
  "semi": false,
  "singleQuote": true,
  "arrowParens": "avoid",
  "printWidth": 100,
  "bracketSameLine": false,
  "jsxSingleQuote": true,
  "importOrderSeparation": true,
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^[./]"
  ],
  "importOrderSortSpecifiers": true,
  "endOfLine": "lf",
  "trailingComma": "all"
}
