{
  "plugins": [
    "@trivago/prettier-plugin-sort-imports"
  ],
  "semi": false,
  "singleQuote": true,
  "arrowParens": "avoid",
  "printWidth": 120,
  "bracketSameLine": true,
  "jsxSingleQuote": true,
  "endOfLine": "auto",
  "importOrderSeparation": true,
  "importOrder": ["<THIRD_PARTY_MODULES>", "^[./]"],
  "importOrderSortSpecifiers": true
}
