version: "3.5"
services:
  martin:
    build: ./docker/martin
    volumes:
      - ./mapbox/martin/config.yaml:/app/config.yaml
    depends_on:
      - db-postgis
    networks:
      - network
  db-postgis:
    image:  postgis/postgis:13-3.0-alpine
    environment:
      - POSTGRES_DB=ehrenamtskarte
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - 127.0.0.1:5432:5432
    networks:
      - network
  adminer:
    image: "adminer:4.7.7-standalone"
    ports:
      - 127.0.0.1:5001:8080
    networks:
      - network
  reverse_proxy:
    image: "nginx:1.19.5"
    ports:
      - 127.0.0.1:5002:80
    volumes:
      - ./mapbox/styles:/usr/share/nginx/html
      - ./docker/reverse_proxy/nginx-development.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - martin
    networks:
      - network
networks:
  network:
    name: network
