services:
  martin:
    image: ghcr.io/maplibre/martin:v0.13.0
    command: --config /app/config.yaml
    volumes:
      - ./docker/martin-config.yaml:/app/config.yaml
    depends_on:
      db-postgis:
        condition: service_healthy
        restart: true
    networks:
      - network
  db-postgis:
    image: postgis/postgis:17-3.5-alpine
    platform: linux/amd64
    command: [ "postgres", "-c", "log_statement=all", "-c", "log_destination=stderr" ]
    environment:
      - POSTGRES_DB=ehrenamtskarte
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    volumes:
      - db:/var/lib/postgresql/data
    ports:
      - 127.0.0.1:5432:5432
    networks:
      - network
    healthcheck:
      # We use pg_isready to check whether the DB is up and running.
      # We need to specify the hostname, otherwise pg_isready only checks whether connections via the local loopback
      # work, which is also the case if the database is still in the process of initialization.
      test: [ "CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB} -h db-postgis" ]
      interval: 10s
      start_period: 10s
      start_interval: 1s
  reverse_proxy:
    image: "nginx:1.29.5"
    ports:
      - 127.0.0.1:5002:80
    volumes:
      - ./backend/ehrenamtskarte-maplibre-style:/usr/share/nginx/html
      - ./docker/map.html:/usr/share/nginx/html/map.html
      - ./docker/nginx-development.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - martin
    networks:
      - network
  matomo_db:
    image: "mariadb:12.2"
    command: --max-allowed-packet=64MB
    volumes:
      - matomo_db_volume:/var/lib/mysql:Z
    environment:
      - MARIADB_ROOT_PASSWORD=matomo
      - MARIADB_AUTO_UPGRADE=1
      - MARIADB_DISABLE_UPGRADE_BACKUP=1
    env_file:
      - ./docker/matomo.env
    networks:
      - network
  matomo:
    image: "matomo"
    environment:
      - MATOMO_DATABASE_HOST=matomo_db
    volumes:
      - matomo:/var/www/html:z
    env_file:
      - ./docker/matomo.env
    ports:
      - 5003:80
    networks:
      - network
  maildev:
    # Dev mail server, open at http://localhost:5026
    image: maildev/maildev
    environment:
      - MAILDEV_SMTP_PORT=1025
      - MAILDEV_WEB_PORT=1080
      - MAILDEV_MAIL_DIRECTORY=/var/maildev
      - MAILDEV_INCOMING_USER=maildev@localhost.local
      - MAILDEV_INCOMING_PASS=maildev
    volumes:
      - type: tmpfs
        target: /var/maildev
        tmpfs:
          mode: 0777
    ports:
      - 5025:1025
      - 5026:1080
    networks:
      - network
networks:
  network:
    name: network
volumes:
  db:
  matomo:
  matomo_db_volume:
