parameters:
  dart_plugin:
    type: boolean
    default: false
steps:
  - run:
      name: Install protobuf from GitHub
      command: |
        curl -LO "https://github.com/protocolbuffers/protobuf/releases/download/v21.11/protoc-21.11-linux-x86_64.zip"
        unzip protoc*.zip -d $HOME/.local
        echo 'export PATH=$HOME/.local/bin:$PATH' >> $BASH_ENV
