description: Send a notification (to Mattermost) at the end of a job, based on success or failure. Must be the last step in a job.
parameters:
  success_message:
    default: ''
    type: string
  failure_mentions:
    default: '@stefanie.metzger @andreas.fischer'
    type: string
  success_mentions:
    default: ''
    type: string
  allow-all-branches:
    default: false
    type: boolean
  channel:
    default: "@stefanie.metzger"
    type: string
steps:
  - run:
      command: |
        echo 'export MM_MESSAGE=":fire: The [${CIRCLE_JOB}](${CIRCLE_BUILD_URL}) job has failed on the ${CIRCLE_BRANCH} branch! :fire: << parameters.failure_mentions >>"' >> $BASH_ENV
      name: Mattermost - Prepare failure message
      when: on_fail
  - run:
      command: |
        if [ -n "<< parameters.success_message >>" ]; then
            echo 'export MM_MESSAGE="<< parameters.success_message >>"' >> $BASH_ENV
        fi
      name: Mattermost - Prepare success message
      when: on_success
  - run:
      command: |
        echo 'export ALLOW_ALL_BRANCHES="<< parameters.allow-all-branches >>"' >> $BASH_ENV
        name: Set ALLOW_ALL_BRANCHES flag
        when: always
  - run:
      command: |
        app-toolbelt v0 notify mattermost --message "${MM_MESSAGE}" --channel << parameters.channel >> ${ALLOW_ALL_BRANCHES:+--allow-all-branches}
      name: Mattermost Status Alert
      when: always
  - run:
      command: |
        unset MM_MESSAGE
      name: Unset MM_MESSAGE
      when: always
  - run:
      command: |
        unset ALLOW_ALL_BRANCHES
      name: Unset ALLOW_ALL_BRANCHES
      when: always
