when: << pipeline.parameters.run_build_frontend >>
jobs:
  - check_frontend
  - build_android:
      name: frontend-android-build-bayern
      buildConfig: "bayern"
      requires:
        - check_frontend
  - build_ios:
      name: frontend-ios-build-bayern
      buildConfig: "bayern"
      requires:
        - check_frontend
  - build_android:
      name: frontend-android-build-nuernberg
      buildConfig: "nuernberg"
      requires:
        - check_frontend
  - build_ios:
      name: frontend-ios-build-nuernberg
      buildConfig: "nuernberg"
      requires:
        - check_frontend
  - build_android:
      name: frontend-android-build-koblenz
      buildConfig: "koblenz"
      requires:
        - check_frontend
  - build_ios:
      name: frontend-ios-build-koblenz
      buildConfig: "koblenz"
      requires:
        - check_frontend