when: << pipeline.parameters.run_promotion_frontend >>
jobs:
  - promote_android:
      matrix:
        parameters:
          build_config: [bayern, nuernberg, koblenz]
      context:
        - tuerantuer-google-play
  - promote_ios:
      matrix:
        parameters:
          build_config: [bayern, nuernberg, koblenz]
      context:
        - tuerantuer-apple
  - promote_github_release:
      platform: web
      context:
        - deliverino
      requires:
        - promote_android
        - promote_ios
