version: 2.1

orbs:
  gradle: circleci/gradle@2.2.0
  browser-tools: circleci/browser-tools@1.4.1

parameters:
  run_commit:
    default: true
    type: boolean
  run_commit_main:
    default: "run_if_on_main"
    type: enum
    enum: ["run_if_on_main", "run", "skip"]
  run_delivery_beta_backend_administration:
    default: false
    type: boolean
  run_delivery_production_backend_administration:
    default: false
    type: boolean
  run_frontend:
    default: false
    type: boolean
  run_delivery_beta_native:
    default: false
    type: boolean
  run_delivery_production_native:
    default: false
    type: boolean
  run_promote_native:
    default: false
    type: boolean
  run_promote_backend_administration:
    default: false
    type: boolean
  run_delivery_beta_all:
    default: false
    type: boolean
  run_promote_all:
    default: false
    type: boolean