.add-eak-form-label {
    height: 100%;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.add-eak-form-label p {
    text-align: center;
    margin: 10px 0 0 0;
}

.add-eak-form a:hover #add-eak-form-card  {
    background: #f0f0f0;
}
