docker:
  - image: cimg/android:2025.04.1-node
resource_class: large
parameters:
  build_config:
    description: "Name of the build config to use"
    type: enum
    enum: [bayern, nuernberg, koblenz]
environment:
  FASTLANE_SKIP_UPDATE_CHECK: true
  GRADLE_OPTS: '-Dorg.gradle.jvmargs="-Xmx2048m" -Dorg.gradle.daemon=false -Dorg.gradle.workers.max=2'
working_directory: ~/project/frontend
steps:
  - prepare_workspace
  - install_app_toolbelt
  - ruby/install:
        version: '3.1'
  - install_flutter:
      precache: android
  - install_fastlane:
      directory: android
  - run:
      name: Install Ninja
      command: sudo apt-get update && sudo apt-get install -y ninja-build
  - restore_cache:
      keys:
        - v2-gradle-{{ checksum "android/build.gradle.kts" }}-{{ checksum "android/app/build.gradle.kts" }}-{{ checksum "android/settings.gradle.kts" }}
  - run:
      name: '[FL] Prepare Android Keystore'
      command: bundle exec fastlane keystore
      working_directory: android
  - run:
      name: '[FL] Build'
      command: bundle exec fastlane android build version_name:${NEW_VERSION_NAME} version_code:${NEW_VERSION_CODE} build_config_name:<< parameters.build_config >>
      working_directory: android
  - save_cache:
      key: v2-gradle-{{ checksum "android/build.gradle.kts" }}-{{ checksum "android/app/build.gradle.kts" }}-{{ checksum "android/settings.gradle.kts" }}
      paths:
        - ~/.gradle/caches
        - ~/.gradle/wrapper
        - ~/android-sdk/ndk
        - ~/android-sdk/build-tools
  - run:
      name: Move artifacts
      command: |
          mv build/app/outputs/bundle/<< parameters.build_config >>Release/app-<< parameters.build_config >>-release.aab ~/attached_workspace/<< parameters.build_config >>.aab
          mv build/app/outputs/apk/<< parameters.build_config >>/release/app-<< parameters.build_config >>-release.apk ~/attached_workspace/<< parameters.build_config >>.apk
  - persist_to_workspace:
      root: ~/attached_workspace
      paths:
        - << parameters.build_config >>.aab
        - << parameters.build_config >>.apk
  - store_artifacts:
      path: ~/attached_workspace
  - notify
