docker:
  - image: cimg/node:24.13
resource_class: medium
working_directory: ~/project/administration
steps:
  - prepare_workspace
  - install_node_modules
  - run:
      name: Build
      command: npm run build
  - persist_to_workspace:
      root: ~/project
      paths:
        - administration/build
  - notify
