environment:
  _JAVA_OPTIONS: "-Xmx3g"
  GRADLE_OPTS: "-Dorg.gradle.daemon=false -Dorg.gradle.workers.max=2"
docker:
  - image: cimg/openjdk:17.0.13-node
resource_class: small
working_directory: ~/project/backend
steps:
  - prepare_workspace
  - setup_remote_docker:
      docker_layer_caching: true
  - run:
      name: Setup submodules
      command: |
        git submodule sync
        git submodule update --init
  - restore_cache:
      keys:
        - v1-gradle-{{ checksum "build.gradle.kts" }}
  - run:
      name: Build backend
      # Use `assemble` instead of `build` to not run tests
      # Use production environment to build with sentry
      command: ./gradlew distTar -Denv=prod
  - save_cache:
      key: v1-gradle-{{ checksum "build.gradle.kts" }}
      paths:
        - ~/.gradle/caches
        - ~/.gradle/wrapper
  - persist_to_workspace:
      root: ~/project
      paths:
        - backend/build/distributions/*
  - notify
