docker:
  - image: cimg/node:24.13
resource_class: small
working_directory: ~/project/frontend
steps:
  - prepare_workspace
  - check_circleci_config
  - install_app_toolbelt
  - install_flutter
  - run:
      name: Check formatting
      command: fvm dart format -l 120 -o none --set-exit-if-changed .
  - run:
      name: Setup build config
      # Statically use "bayern" build config for analyzing
      command: fvm flutter pub run build_runner build --define "df_build_config=name=bayern"
  - run:
      name: Analyze and lint
      command: |
        fvm flutter analyze --fatal-infos --fatal-warnings
        fvm flutter analyze pubs/df_build_config --fatal-infos --fatal-warnings
  - run:
      name: Test
        # fvm flutter packages - run in vm to allow dart:mirrors - see: https://github.com/flutter/flutter/issues/29868#issuecomment-475982139
      command: |
        fvm flutter test
        fvm flutter packages test pubs/df_build_config
  - notify
