# Promote the app from the beta to the production track in the Google Play Store.
parameters:
  build_config_name:
    type: enum
    enum: [bayern, nuernberg]
    default: bayern
docker:
  - image: cimg/android:2024.01.1-node
resource_class: small
shell: /bin/bash -eo pipefail
environment:
  FASTLANE_SKIP_UPDATE_CHECK: true
steps:
  - checkout:
      path: ~/project
  - install_app_toolbelt
  - restore_ruby_cache:
      directory: ~/project/frontend/android
  - run:
      name: '[FL] Play Store Promotion'
      command: bundle exec fastlane android playstore_promote build_config_name:<< parameters.build_config_name >>
      working_directory: frontend/android
  - notify
