---
# Database connection string
connection_string: "postgres://postgres:postgres@db-postgis:5432/ehrenamtskarte"

# Connection keep alive timeout [default: 75]
keep_alive: 75

# The socket address to bind [default: 0.0.0.0:3000]
listen_addresses: "0.0.0.0:3000"

# Maximum connections pool size [default: 20]
pool_size: 20

# Enable watch mode
watch: false

# Trust invalid certificates. This introduces significant vulnerabilities, and should only be used as a last resort.
danger_accept_invalid_certs: false

# Number of web server workers
worker_processes: 8

function_sources:
  physical_stores:
    id: physical_stores
    schema: public

    function: physical_stores
