# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/

libraries/*

# Ignore data base configurations
dataSources
dataSources.xml
# Datasource local storage ignored files
/dataSources.local.xml

misc.xml
