# Ignore all files by default
/*

# Whitelist project config
!/codeStyles
!/dataSources.xml
!/runConfigurations
!/detekt.xml
!/entitlementcard.iml
!/ktlint-plugin.xml
!/modules.xml
!/prettier.xml
!/vcs.xml
